# Task 4.6, Steps 3 - 7
#### Steps 1-2 in 4.6, Part 1

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Set path
path = r"C:\Users\miche\Instacart Basket Analysis 2022_MP\02 Data"

In [3]:
# 3 Import pkl
orders_prior = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
orders_prior.head()

,order_id,customer_id,order_number,order_day,order_hour,previous_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,26088,4,0,both
1,2398795,1,2,3,7,15.0,12427,3,1,both
2,473747,1,3,3,12,21.0,196,1,1,both
3,431534,1,5,4,15,28.0,196,1,1,both
4,3367565,1,6,2,7,19.0,12427,2,1,both

In [5]:
# 4 Check shape
orders_prior.shape

(6487224, 10)

In [6]:
# Import products_clean.csv
products = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_clean.csv'), index_col = False)

In [7]:
products.shape

(49672, 5)

In [8]:
products.head()

,Unnamed: 0,product_id,product_name,department_id,prices
0,0,1,Chocolate Sandwich Cookies,19,5.8
1,1,2,All-Seasons Salt,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,1,10.5
4,4,5,Green Chile Anytime Sauce,13,4.3

In [9]:
products = products.drop(columns = ['Unnamed: 0'])

In [10]:
products.shape

(49672, 4)

In [11]:
products.columns

Index(['product_id', 'product_name', 'department_id', 'prices'], dtype='object')

In [12]:
orders_prior.columns

Index(['order_id', 'customer_id', 'order_number', 'order_day', 'order_hour',
       'previous_order', 'product_id', 'add_to_cart_order', 'reordered',
       '_merge'],
      dtype='object')

#### 5. The merge will use variable product_id to merge orders and products datasets.

In [18]:
# Drop previous _merge column
orders_prior = orders_prior.drop(columns = ['_merge'])

In [19]:
orders_prior.columns

Index(['order_id', 'customer_id', 'order_number', 'order_day', 'order_hour',
       'previous_order', 'product_id', 'add_to_cart_order', 'reordered',
       'product_name', 'department_id', 'prices'],
      dtype='object')

In [27]:
# Merge the dataframes
orders_products_merged = orders_prior.merge(products, on = ['product_id','product_name','department_id','prices'], indicator = True)

In [28]:
# 6 Confirm the merge
orders_products_merged.head()

,order_id,customer_id,order_number,order_day,order_hour,previous_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,19,4.7,both
1,3169664,363,9,5,14,8.0,26088,19,0,Aged White Cheddar Popcorn,19,4.7,both
2,554620,1357,4,4,15,30.0,26088,1,1,Aged White Cheddar Popcorn,19,4.7,both
3,2927564,1357,6,4,9,30.0,26088,3,1,Aged White Cheddar Popcorn,19,4.7,both
4,1028773,1960,13,0,19,16.0,26088,5,1,Aged White Cheddar Popcorn,19,4.7,both

In [29]:
orders_products_merged.shape

(6481355, 13)

In [31]:
orders_products_merged['_merge'].value_counts()

both          6481355
left_only           0
right_only          0
Name: _merge, dtype: int64

In [32]:
orders_products_merged.columns

Index(['order_id', 'customer_id', 'order_number', 'order_day', 'order_hour',
       'previous_order', 'product_id', 'add_to_cart_order', 'reordered',
       'product_name', 'department_id', 'prices', '_merge'],
      dtype='object')

In [34]:
# Look at way to replace department_id with department_name
orders_products_merged['department_id'].value_counts()

4     1894306
16    1080621
19     577138
7      538356
1      447793
13     374895
3      234619
15     213526
20     209693
9      173112
17     148095
12     141704
14     141407
11      89254
18      84400
6       54098
5       30878
8       19685
21      13825
2        7163
10       6787
Name: department_id, dtype: int64

In [38]:
# Replace department_id with department name
orders_products_merged.replace({'department_id':{1: 'Frozen',2: 'Other',3: 'Bakery',4: 'Produce',5: 'Alcohol',6: 'International',7: 'Beverages',8: 'Pets',9: 'Dry Goods Pasta',10:'Bulk',11: 'Personal Care',12: 'Meat Seafood',13: 'Pantry',14: 'Breakfast',15: 'Canned Goods',16: 'Dairy Eggs',17: 'Household',18: 'Babies',19: 'Snacks',20: 'Deli',21: 'Missing'}})

,order_id,customer_id,order_number,order_day,order_hour,previous_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,Snacks,4.7,both
1,3169664,363,9,5,14,8.0,26088,19,0,Aged White Cheddar Popcorn,Snacks,4.7,both
2,554620,1357,4,4,15,30.0,26088,1,1,Aged White Cheddar Popcorn,Snacks,4.7,both
3,2927564,1357,6,4,9,30.0,26088,3,1,Aged White Cheddar Popcorn,Snacks,4.7,both
4,1028773,1960,13,0,19,16.0,26088,5,1,Aged White Cheddar Popcorn,Snacks,4.7,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6481350,3291167,205795,1,4,19,NaN,2796,1,0,American Blend,Breakfast,2.4,both
6481351,793185,205839,7,2,20,30.0,12833,1,0,ProSobee Soy Infant Formula Powder,Babies,9.1,both
6481352,2610511,205883,3,6,14,8.0,29279,16,1,No Salt Potato Chips,Snacks,5.9,both
6481353,1443724,205893,9,2,15,28.0,11873,34,0,Adrenaline Series Sport Defense Antiperspirant...,Personal Care,4.6,both
6481354,1538507,206165,25,6,19,0.0,40697,15,1,"Burgers, Chile Relleno",Frozen,13.2,both

In [39]:
orders_products_merged['department_id'].value_counts()

4     1894306
16    1080621
19     577138
7      538356
1      447793
13     374895
3      234619
15     213526
20     209693
9      173112
17     148095
12     141704
14     141407
11      89254
18      84400
6       54098
5       30878
8       19685
21      13825
2        7163
10       6787
Name: department_id, dtype: int64

In [41]:
# 7 Export to pkl
orders_products_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_final_merge.pkl'))